body{
    font-family: Arial, Helvetica, sans-serif;
}
.clock-dial{
    width: 500px;
    height: 500px;
    border: 20px solid black;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot{
    width: 20px;
    height: 20px;
    background:  black;
    border-radius: 50%;
    position: absolute;
}
.hour{
    font-size: 26px;
    font-weight: bold;
    position: absolute;
}
.hour-12{
    top: 0%;
}
.hour-1{
    top: 6%;
    right: 24%;
}
.hour-2{
    top: 23%;
    right: 7%;
}
.hour-3{
    right: 0%;
}
.hour-4{
    bottom: 22%;
    right: 8%;
}
.hour-5{
    bottom: 6%;
    right: 24%;
}
.hour-6{
    bottom: 0%;
}
.hour-7{
    bottom: 6%;
    left: 24%;
}
.hour-8{
    bottom: 23%;
    left: 7%;
}.hour-9{left: 0%;}.hour-10{
    top: 23%;
    left: 7%;
}.hour-11{
    top: 6%;
    left: 23%;
}

.hourTime{
    width: 114px;
    height: 9px;
    background: transparent;
    border-right: 160px solid black;
    position: absolute;
    border-radius: 10px;
    transform: rotate(0deg);
}
.minitTime{
    width: 141px;
    height: 6px;
    background: transparent;
    border-right: 187px solid black;
    position: absolute;
    border-radius: 20px;
    transform: rotate(75deg);
}
.secendTime{
    width: 175px;
    height: 4px;
    background: transparent;
    border-right: 220px solid black;
    position: absolute;
    border-radius: 10px;
    transform: rotate(141deg);
}